body{
    background-color: #E5E5E5;
}
.titulo{
    width: 540px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}